.card {
  position: relative;
  padding: 60px 20px 20px 20px;
  border-radius: 12px;
  transition: transform 0.4s ease;
  height: auto;
  min-width: 150px;
  background: rgba(34, 165, 220, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(34, 165, 220, 0.3);
}
.card:hover {
}
.card_inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
