.tag {
  position: absolute;
  opacity: 0;
  animation-name: float;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes float {
  from {
    transform: translateY(0) rotate(0);
  }
  to {
    transform: translateY(-100vh) rotate(360deg);
  }
}
